.bg {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bg1 {
  height: 50vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow:
    10px 10px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(5, 5, 5, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.label {
  font-size: 12px;
}
.button {
  margin-top: 10px;
  background-color: #6366f1;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  height: 4vh;
}
.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo {
  height: 7vh;
  width: 10vw;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
}
.input {
  background-color: transparent;
  color: #64748b;
  border: 1px solid #64748b;
  border-radius: 5px;
  margin-top: 4px;
  padding: 10px;
  height: 5vh;
}
.error-msg {
  color: #ff0b37;
}
@media screen and (max-width: 770px) {
  .bg {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
  }
  .bg1 {
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;

    box-shadow:
      10px 10px 15px rgba(0, 0, 0, 0.3),
      -5px -5px 10px rgba(5, 5, 5, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
  }
  .logo {
    height: 7vh;
    width: 30vw;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: center;
  }
}








